@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("_CategoryListViewComponentPartial")
    </div>
    <div class="col-md-9">
        <partial name="_Slider" />

        <div class="row">
            @foreach (var product in Model)
            {
                <partial name="_Product" for="@product" />
            }
        </div>
    </div>
</div>



