
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    <p>Yetkisiz Erişim! Bu sayfayı görüntüleme yetkiniz bulunmamaktadır.</p>
</div>

