
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm Email</h1>
<hr />

@if (TempData["message"] != null)
{
    <div class="alert alert-warning">
        <p>@TempData["message"]</p>
    </div>
}
else
{
    <div class="alert alert-success">
        <p>Hesabınız onaylandı</p>
    </div>
}
