@model Product

<div class="col-md-4">
    <div class="card mb-3">
        <img src="~/img/products/@Model.ImageUrl" alt="@Model.Name" style="width:100%; height:250px; object-fit:cover"/>
        <div class="card-body">
            <h4 class="card-title"><a href="/Shop/Details/@Model.ProductID" class="text-decoration-none text-black">@Model.Name</a></h4>
            <small class="text-muted">₺@Model.Price</small>
        </div>
        <div class="card-footer text-center">
            <a href="/Shop/Details/@Model.ProductID" class="btn btn-outline-primary btn-sm">Details</a>
            <button class="addcartbtn btn btn-outline-primary btn-sm ml-3" data-productid="@Model.ProductID" data-quantity="1">Add To Cart</button>
        </div>
    </div>
</div>

