@model List<Category>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a class="list-group-item list-group-item-action @(ViewBag.categoryID == item.CategoryID ? "active" : "")" href="/Shop/List/@item.CategoryID">@item.Name</a>
    }
</div>